<style>
    :root {
        --background-color: {{ theme.background_color }};
        --card-color: {{ theme.card_color }};

        --primary-color: {{ theme.primary_color }};
        --accent-color: {{ theme.accent_color }};

        --primary-text-color {{ theme.primary_text_color }};
        --secondary-text-color: {{ theme.secondary_text_color }};

        --navbar-primary-text-color: {{ theme.navbar_primary_text_color }};
        --navbar-secondary-text-color: {{ theme.navbar_secondary_text_color }};
    }
</style>